form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phaseSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-form-field {
    width: 100%
}
.imageInput {
    width: 100%
}
.largerText {
    font-size: 1.2em;
    color:white;
    opacity: 0.87;
}