    <form [formGroup]="InitiationForm" class="form">
        <mat-form-field>
            <input matInput placeholder="Project Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Project Start Date" formControlName="startDate">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Project End Date" formControlName="endDate">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Project Objective" formControlName="objective">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Project Manager" formControlName="manager">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Project Scope Statements" formControlName="scope">
        </mat-form-field>
    </form>
