<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <label>insert documents as images</label>
    </div>
    <input type="file" id="myfile" name="myfile">
    
    
    <div>
    <label>file name</label>
    <input [(ngModel)]="fileName" type="text">
    <input type="file" id="browseImage" name="browseImage">
    </div>

    <button (click)="saveData()">Save</button>

    
</body>
</html>