<div class="container">
  <div class="card-list-container">
    <button mat-raised-button color="primary" class="card-button" (click)="createDoc()">Create</button>
    <mat-card *ngFor="let card of cardList" (click)="cardClicked(card)">
      <mat-card-content>
        {{ card.title }}
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="docForm" class="form-container">
    <mat-card>
      <mat-card-content>
        <app-form></app-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

