<div class="container">
  <div class="card-list-container">
    <button mat-raised-button color="primary" class="card-button" (click)="createDoc()">Create</button>
    <ng-container *ngFor="let doc of docList">
      <mat-card class="selectable" *ngIf="!isObjectEmpty(doc)" (click)="cardClicked(doc)">
        <ng-container *ngIf="doc.docType === 'InitiationForm'">
        <mat-card-content (click)="showFormDetails()">
          {{doc.title}}
        </mat-card-content>
        </ng-container>
        <ng-container *ngIf="doc.docType === 'SRSForm'">
        <mat-card-content>
          {{ doc.intro}}
        </mat-card-content>
        </ng-container>
        <ng-container *ngIf="doc.docType === 'DesignForm'">
        <mat-card-content>
          Design Phase
        </mat-card-content>
        </ng-container>
      </mat-card>
    </ng-container>
  </div>
  <div *ngIf="docForm || displayForm" class="form-container">
    <mat-card>
      <mat-card-content>
        <app-form *ngIf="docForm"></app-form>
        <app-display-forms *ngIf="displayForm"></app-display-forms>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div>

