<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="SRS"><!--close button -> close the form-->
        <label for="SRS">SRS: </label><button value="close">Close</button>
        <br><br>
        <label for="purpose">purpose: </label>
        <input type="text" id="#" name="title" value="" placeholder="purpose">
        <br><br>

       

        <label for="audience">audience: </label><br>
        <input type="text" id="#" name="" value="" placeholder="audience"><br>
        <br>
        <label for="description">description: </label><br>
        <input type="text" id="#" name="" value="" placeholder="description"><br>
        <br>
        <label for="SRS">SRS: </label><br>
        <input type="text" id="#" name="" value="" placeholder="SRS"><br>
        <br><br>

        <label for="images">usecase</label>
        <input type="file" id="myfile" name="myfile">
        <br><br>    
        <input type="submit" value="save">
        <input type="submit" value="reset">
    </form> 
</body>
</html>