<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div>
            <label>purpose</label>
            <input [(ngModel)]="purpose" type="text">
        </div>
        <div>
            <label>audience</label>
            <input [(ngModel)]="audience" type="text">
        </div>
        <div>
            <label>description</label>
            <input [(ngModel)]="description" type="text">
        </div>
        <div>
            <label>SRS</label>
            <textarea [(ngModel)]="SRS" type="text"></textarea>
        </div>
        <label>usecase</label>
        <input type="file" id="myfile" name="myfile">
        <br><br>    
        <button (click)="saveForm()">Save</button>
        <input type="reset" value="Reset">
    </form> 
</body>
</html>