<div class="container">
  <div class="card-list-container">
    <ng-container *ngFor="let img of imgList">
      <mat-card *ngIf="!isObjectEmpty(img)" (click)="cardClicked(img)">
        <mat-card-content>
          {{ img.imageTitle}}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
  <div *ngIf="imageView" class="form-container">
    <mat-card>
      <mat-card-content>
        <img [src]="image.imagePath" alt="image" class="image-view">
      </mat-card-content>
    </mat-card>
  </div>
</div>

