<div class="container">
  <div class="card-list-container">
    <ng-container *ngFor="let doc of docList">
      <mat-card *ngIf="!isObjectEmpty(doc)" (click)="cardClicked(doc)">
        <ng-container *ngIf="doc.docType === 'Initiation'">
        <mat-card-content>
          {{ doc.title }}
        </mat-card-content>
        </ng-container>
        <ng-container *ngIf="doc.docType === 'SRS'">
        <mat-card-content>
          {{ doc.intro}}
        </mat-card-content>
        </ng-container>
      </mat-card>
    </ng-container>
  </div>
  <div *ngIf="docForm" class="form-container">
    <mat-card>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>

