<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDLC PHASES</title>
</head>
<body>
      <div style="background-color: aqua; padding: 10px;">
        <select  (change)="selectPhase($event)">
          <option disabled selected>Select Phase</option>
          <option *ngFor="let phase of phases" [value]="phase">{{ phase }}</option>
        </select>
      </div>
      <div *ngIf="showForm">
        <form>
          <div>
            <button (click)="closeForm()">Close</button>
          </div>
        
          <div *ngIf="selectedPhase === 'Initiation'">
            <app-initiation-phase></app-initiation-phase>
          </div>
        
          <div *ngIf="selectedPhase === 'SRS'">
            <app-requirement-phase></app-requirement-phase>
          </div>
        
          <div *ngIf="selectedPhase === 'Design'">
            <app-design-phase></app-design-phase>
          </div>
      
          <button (click)="saveData()">Save</button>
        </form>
      </div>
      
      <div *ngIf="showFiles">
        <!-- Display files of the selected phase -->
      </div>
</body>
</html>