<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="ProjectCharter"><!--close button -> close the form-->
        <label for="ProjectCharter">ProjectCharter: </label><button value="close">Close</button>
        <br><br>
        <label for="title">Title: </label>
        <input type="text" id="#" name="title" value="" placeholder="title"><br>
        <br>

        <label for="startDate">Start date: </label>
        <input type="date" id="startDate" name="startDate">

        <br><br>
        <label for="endDate">End date : </label>
        <input type="date" id="endDate" name="endDate">
        <br><br>
        <label for="objectives">Objectives: </label><br>
        <input type="text" id="#" name="" value="" placeholder="objectives">

        <br><br>

        <label for="ProjectManager">ProjectManager: </label><br>
        <input type="text" id="#" name="" value="" placeholder="ProjectManager"><br>
        <br>
        <label for="ProjectBudget">ProjectBudget: </label><br>
        <input type="text" id="#" name="" value="" placeholder="ProjectBudget"><br>
        <br>
        <label for="ProjectScope">ProjectScope: </label><br>
        <input type="text" id="#" name="" value="" placeholder="ProjectScope"><br>
        <br><br>
        <input type="submit" value="save">
        <input type="submit" value="reset">
    </form> 
</body>
</html>