<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <form>
    <div>
      <label>Title</label>
      <input [(ngModel)]="title" type="text">
    </div>
  
    <div>
      <label>Start Date</label>
      <input [(ngModel)]="startDate" type="date">
    </div>
  
    <div>
      <label>End Date</label>
      <input [(ngModel)]="endDate" type="date">
    </div>
  
    <div>
      <label>Objectives</label>
      <textarea [(ngModel)]="objectives"></textarea>
    </div>
  
    <div>
      <label>Managers</label>
      <input [(ngModel)]="managers" type="text">
    </div>
  
    <div>
      <label>Information</label>
      <textarea [(ngModel)]="information"></textarea>
    </div>
  
    <div>
      <label>Scope Statements</label>
      <textarea [(ngModel)]="scopeStatements"></textarea>
    </div>
    
    <button (click)="saveData()">Save</button>
    <input type="reset" value="Reset">
    
  </form>
</body>
</html>