<h2>Form List</h2>

<ul>
  <li *ngFor="let form of forms" (click)="selectForm(form)">
    {{ form.title }}
  </li>
</ul>

<div *ngIf="selectedForm">
  <h3>Selected Form: {{ selectedForm.title }}</h3>
  <p>Phase: {{ selectedForm.phase }}</p>

  <!-- <div>
    <label for="title">Title:</label>
    <input id="title" type="text" [(ngModel)]="updateForm.value.title">
  </div>

  <div>
    <label for="phase">Phase:</label>
    <input id="phase" type="text" [(ngModel)]="updateForm.value.phase">
  </div> -->

  <button (click)="updateSelectedForm()">Update Form</button>
  <button (click)="deleteForm(selectedForm.id)">Delete Form</button>
</div>