<div *ngIf="doc.docType === 'InitiationForm'">
    <div style="text-align: right;">
        <button mat-raised-button color="warn" (click)="closeDoc()">Close</button>
    </div>
    <hr>
        <label><b>Title:</b> {{doc.title}}</label>
        <br>
        <label><b>Start Date:</b> {{doc.startDate}}</label>
        <br>
        <label><b>End Date:</b> {{doc.endDate}}</label>
        <br>
        <label><b>Objectives:</b> {{doc.objective}}</label>
        <br>
        <label><b>Manager:</b> {{doc.manager}}</label>
        <br>
        <label><b>Budget Information:</b> {{doc.budget}}</label>
        <br>
        <label><b>Scope:</b> {{doc.scope}}</label>
        <hr>
            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="updateDoc()">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteDoc()">Delete</button>
            </div>
</div>
<div *ngIf="doc.docType === 'SRSForm'">
    <div style="text-align: right;">
        <button mat-raised-button color="warn" (click)="closeDoc()">Close</button>
    </div>
    <hr>
        <label><b>Introduction:</b> {{doc.intro}}</label>
        <br>
        <label><b>Purpose Of Software Being Developed:</b> {{doc.purpose}}</label>
        <br>
        <label><b>Intended Audience:</b> {{doc.intendedAudience}}</label>
        <br>
        <label><b>Overall Description Of The Software:</b> {{doc.description}}</label>
        <br>
        <label><b>System Features & Requirements:</b> {{doc.srs}}</label>
        <hr>
            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="updateDoc()">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteDoc()">Delete</button>
            </div>
</div>
<div *ngIf="doc.docType === 'DesignForm'">
  <div style="text-align: right;">
    <button mat-raised-button color="warn" (click)="closeDoc()">Close</button>
  </div>
  <hr>
  <b>Check Files page</b>
  <br><br>
  <ng-container *ngFor="let img of doc.image">
    <a href="{{img.imagePath}}">{{img.imageTitle}}</a><br>
  </ng-container>
  <hr>
  <div style="text-align: center;">
    <button mat-raised-button color="warn" (click)="deleteDoc()">Delete</button>
  </div>
</div>
